.button_modal {
    width: 200px;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    background-color: #8A33FD;    
    font-family: Roboto;
    font-size: 16px;
    color: #FFFFFF;
        
}

.button_modal:hover {
    background-color: #9747FF;
}

.button_modal2 {
    width: 200px;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;    
    font-family: Roboto;
    font-size: 16px;
    color: #8A33FD;
        
}

.button_modal2:hover {
    color: #9747FF;
}